/* forzature bootstrap */
*{
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


/* classi colore sfondi */
.preview{
    background-color: #ffffff;
    height: 96vh;
}

.sidebar{
    height: 96vh;
}

.bg_blue{
    background-color: #8edafc;
}

.bg_lightgrey{
    background-color: #f2f2f2;
}

.background_white{
    background-color: white;
}

.background_grey{
    background-color: #eaeaea;
}

/* icone */
.icon_color{
    color: #b1b1b1;
}

.fa-bell-slash{
    background-color: #f2fbff;
    border-radius: 50%;
    padding: 8px;
    color: #8edafc;
}

/* sfondo  */
#background_green{
    height: 150px;
    background-color: #009688;
    /* position: absolute; */
    z-index: -1;
}

#background_grey{
    height: calc(100vh - 150px);
    background-color: #d6dbd7;
}

#sfondo{
    margin-top: -96vh;
}

/* testo */
.medium_text{
    font-size: .8rem;
}

.small_text{
    font-size: .6rem;
}

/* sezione chat */

.border_utente{
    border-right: solid 1px lightslategray;
}

.underline{
    text-decoration: underline;
}

#container_chat{
    width: 80vw;
    height: 96vh;
    margin: 0 auto;
    padding-top: 2vh;
}

.img_avatar{
    border-radius: 50%;
    height: 40px;
}

#name_utente{
    font-size: 15px;
}

.altezza{
    height: 50px;
}

#altezza_search{
    height: 45px;
}

.altezza_big{
    height: 60px;
}

.input{
    border-radius: 40px;
    border: solid 1px white;
}

#input_prew{
    width: 85%;
    font-size: .8rem;
}

.chat{
    overflow-x: auto;
}

.label_chat{
    border-bottom: solid 1px lightgrey;
}

#input_message{
    width: 95%;
    font-size: .6rem;
    padding: 8px;
}

#altezza_image_chat{
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    background-size: contain;
    margin: 0 -14px ;
    padding-top: 30px;
}

.messaggio{
    padding: 5px 10px;
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin: 0 30px 10px 30px;
}

.messaggio_inviato{
    background-color: #d5f9ba;
    align-content: flex-end;
}

.messaggio_ricevuto{
    background-color: #ffffff;
}

